
7. IRIS - optimization/IntroML-tasks1-2/.ipynb_checkpoints/task2-checkpoint.ipynb
7. IRIS - optimization/IntroML-tasks1-2/MNIST_data/t10k-images-idx3-ubyte.gz
7. IRIS - optimization/IntroML-tasks1-2/MNIST_data/t10k-labels-idx1-ubyte.gz
7. IRIS - optimization/IntroML-tasks1-2/MNIST_data/train-images-idx3-ubyte.gz
7. IRIS - optimization/IntroML-tasks1-2/MNIST_data/train-labels-idx1-ubyte.gz
7. IRIS - optimization/IntroML-tasks1-2/task1_1.py
7. IRIS - optimization/IntroML-tasks1-2/task2.ipynb
7. IRIS - optimization/IntroML-tasks1-2/Tasks.txt
